# Exercise 6: Strings

## Aim: Introduce strings, their usage and methods

### Issues covered:
 - Creating strings
 - Splitting and selecting from strings
 - String methods
 - Converting to/from strings

## 1. Let's loop through a string as a sequence (like a list, tuple).

Create a string `s` with the value `"I love to write python"`.

In [2]:
s = "I love to write Python"
s

'I love to write Python'

Loop through `s` displaying each value.

In [6]:
for letter in s:
    print(letter)

I

l
o
v
e

t
o

w
r
i
t
e

P
y
t
h
o
n

Print the 5th element of `s`.

In [7]:
s[4]

'v'

Print the last element of `s`. (Remember, you can use a negative index).

In [8]:
s[-1]

'n'

Print the length of `s`.

In [9]:
len(s)

22

Try printing: `s[0]`, `s[0][0]`, and `s[0][0][0]`. Can you explain what is going on?

In [16]:
s[0]

'I'

In [17]:
type(s[0])

str

In [14]:
s[0][0]

'I'

In [15]:
s[0][0][0]

'I'

## 2. Let's try splitting a string to loop through its words (rather than characters).

Create a string `s` with the value `"I love to write python"`.

In [ ]:
s = "I love to write Python"
s

Split the string into a list of words called `split_s`.

In [19]:
split_s=s.split(' ')
split_s

['I', 'love', 'to', 'write', 'Python']

Loop through the list of words; If any of the words contain the letter `"i"` print `"I found 'i' in: '<WORD>'"` (where <WORD> is the word).

In [28]:
for word in split_s:
    if word.lower().find('i') > -1:
        print(f"I found 'i' in: '{word}")

I found 'i' in: 'I
I found 'i' in: 'write

Note: What is the difference between `word.find("i")` and `word.find("i") > -1`? What does it return if `"i"` is not found?

In [30]:
for word in split_s:
    if word.lower().find('i'): # Alwats True?
        print(f"I found 'i' in: '{word}")

I found 'i' in: 'love
I found 'i' in: 'to
I found 'i' in: 'write
I found 'i' in: 'Python

## 3. Let's explore other useful aspects of strings.

Create a string called `something` with the value `"Completely Different"`.

In [31]:
something = "Completely Different"

Print all the properties and methods of the string.

In [34]:
type(something)

str

In [35]:
dir(something)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [37]:
help(something.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

Use a string method to count the number of times the character `"t"` is present in the string.

In [39]:
something.count('t')

2

Use a string method to find the first position of the sub-string `"plete"` in the string.

In [40]:
something.find('plete')

3

Use a string method to split the string by the character `"e"`.

In [48]:
help(something.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [53]:

#something.split('e',something.count('e')) # not needed second term.
something.split('e')

['Compl', 't', 'ly Diff', 'r', 'nt']

Create a new string (`thing2`) that replaces the word `"Different"` with `"Silly"`.

Try to assign the letter `"B"` to the first character of the string `"something"` using: `something[0] = "B"`. (Why does this cause an error?)